.header {
  display: grid;
  grid-template-columns: 458px 136px 458px;
  padding: 92px 24px 92px 24px;
}

.header__menu {
  display: block;
  width: 392px;
  text-align: center;
  margin: 44px 634px 39px 27px;
}

.header__links-list {
  display: grid;
  line-height: 21.13px;
  grid-template-columns: 76px 160px 129px;
  list-style: circle;
  font-size: 18px;
  gap: 22px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-align: left;
}

.header__links-list-item {
  text-align: justify;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address {
  display: grid;
  width: 240px;
  gap: 5px;
  font-size: 18px;
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
}

.header__address {
  margin: 5px 192px 2px;
}

.contact {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.street {
  padding-bottom: 8px;
}

.cover {
  width: 1100px;
  background: url(../images/cover.jpg) center/cover no-repeat;
  margin-bottom: 180px;
  padding-left: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  display: grid;
  width: 1000px;
  padding-top: 165px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 2;
}

.aligned-text {
  line-height: 115%;
  word-spacing: -22px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  line-height: 100%;
  word-spacing: -53px;
  text-align: center;
  margin-top: 20px;
}

.aligned-text_right {
  line-height: 100%;
  text-align: right;
  margin-top: 20px;
  word-spacing: -54px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  word-spacing: 18px;
  width: 637px;
  margin-top: 147px;
  margin-left: 28px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}

.bet-button {
  background-color: transparent;
  width: 256px;
  height: 51px;
  position: relative;
  z-index: 2;
  margin-top: -40px;
  margin-left: 744px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  width: 1052px;
  margin-left: 24px;
  margin-bottom: 148px;
}

.lots__heading {
  width: 121px;
  line-height: 46.96px;
  margin-left: 41px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  margin-top: 27px;
  width: 1052px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 334px;
  position: relative;
  z-index: 0;
  list-style: none;
  padding-top: 51px;
  padding-left: 40px;
  padding-bottom: 46px;
  margin-bottom: 27px;
}

a {
  text-decoration: none;
}

.lots__card-list-item {
  width: 254px;
  min-height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.card-link {
  position: relative;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: #fff;
  z-index: 2;
}
.card__text {
  position: relative;
  z-index: 2;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.lots__look-more {
  width: 192px;
  line-height: 23.48px;
  margin-top: 5px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.lots__look-more-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.about {
  display: block;
  width: 1052px;
  margin-left: 24px;
  padding-top: 33px;
  padding-left: 47px;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo__img {
  width: 148px;
  height: 114px;
}

.about__block {
  display: block;
  width: 693px;
  margin-left: 312px;
  margin-top: -138px;
}

.about__title {
  width: 291px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  width: 693px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.footer {
  width: 1000px;
  margin-top: 182px;
  margin-left: 50px;
  margin-bottom: 88px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  width: 149px;
}

.footer__menu-list {
  display: grid;
  grid-template-rows: 21px 22px 22px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 21.13px;
  color: #000;
  list-style: none;
}

.footer__links-list-item_no-bullit {
  text-align: center;
}

.footer__link_active {
  text-decoration: none;
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__links-list-item {
  text-align: center;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  width: 240px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
